body{
    margin: 0 auto;
    padding: 0 ;
}
.header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    border: 1px solid black;
    margin: 0 auto;
}
h1{
    margin: 0 250px;
}

a{
    padding-left: 50px;
}
